{% extends "newlayout.html" %}
<!-- Navbar -->
{%block nav%}
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="border-radius: 10px"
>
  <a class="navbar-brand" href="#">Budget Tracker</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logtoday">Log's Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar -->
{%endblock nav%} {% block content %} {% endblock content %}
